{% extends '_layouts/main.html' %}
{% load github %}
{% load helper_tags %}

{% block head_extras %}
	{% css 'code.css' %}
{% endblock %}
{% block content %}
<div class="code">
  <h2>Code</h2>
  <article>
  <header>
  <h3><a href="http://github.com/deanproxy/register">register</a></h3>
  {% last_commit commits.register %}
  </header>
  <p>
    register is a mobile app that lets you put in expenses.  That's all.  I developed
    it because my wife and I are have been known to spend a little too much money and
    we wanted a way to track what we have spent.  You would usually use a check register
    for this, but what happens when she's out shopping and spending money and I'm at home
    and have a sudden hankering for a new programming book on Amazon.com?
      I need to see if she's spent too much money in real-time!  register
    to the rescue.  Although you do have to update it every time you make a purchase by
    putting your purchase in, this allows us to track how much money is in our checking
    account at any given time and watch what we have spent.  I plan on playing around
    with this application more in the near future. Adding charting and such... I plan on
    making this an android app soon and also open it up for anyone to use it for free.
  </p>
  <p>
    I'm basically using django for the backend and jQuery mobile for the front end. I
    recently switch to jQuery mobile after using jQtouch in and effort to make the
    project a little more modularized.  I have noticed it's a bit slower right now
    and a little more quirky, but I plan on finding ways to fix that up.
  </p>
  <p>
    You're welcome to <a href="http://register.deanproxy.com">check it out</a> by creating
    an account for free on the mobile site.
  </p>
  </article>
  <article>
  <header>
  <h3><a href="http://github.com/deanproxy/eMail">eMail</a></h3>
  {% last_commit commits.email %}
  </header>
  <p>
    Yes, it's a generic name.  Yes, I have thought about changing it.  Why did I name it this?
    Because.  At the time, I was sick of obscure names for command line arguments. In hindsight,
    it makes sense to name it something simple, yet unique.
  </p>
  <p>
    What is it? It's a command line SMTP client that support TLS, SMTP AUTH, Attachments,
    encryption with GPG and some other basic features.  It was created originally to be
    a very simple SMTP client for mailing reports by a nightly crontab. It has grown a bit,
    but has stayed pretty simple.  It's written in C and depends on my own C library called
    dlib. I don't code on this project as much as I used to, but I still do keep it up to
    date by fixing bugs and doing the occasional feature enhancement.
  </p>
  </article>
  <article>
  <header>
  <h3><a href="http://github.com/deanproxy/dlib">dlib</a></h3>
  {% last_commit commits.dlib %}
  </header>
  <p>
    dlib is simply a library I use for my C projects. It has stuff like string buffers,
    linked lists, vectors, hash tables and some basic network type functions. It's
    all utility type stuff.  I originally wrote it to accompany eMail.  However, I
    have used it in some other projects that I have not published and died quickly. There
    isn't too much activity on this project.
  </p>
  </article>

</div>
{% endblock %}
