.music article header h3 {
	margin-bottom: 0;
}
.music article header {
	margin-bottom: 5px;
}
.music article header .info {
	color: #e08a3e;
}
.music article header time {
	font-style: italic;
}
.music article header span {
	font-weight: bold;
}
.music article p {
	clear: right;
}