{% extends '_layouts/main.html' %}
{% load helper_tags %}
{% block head_extras %}
	{% js 'prettify.js' %}
	{% js 'lang-css.js' %}
	{% js 'lang-sql.js' %}
	{% js 'showdown.js' %}
	{% js 'new_post.js' %}
	{% css 'post.css' %}
	{% css 'myprettify.css' %}
{% endblock %}

{% block content %}
	<div class="editPost">
		{% if post.id %}
			<h2>Edit Post</h2>
			<form name="post" action="{% url 'blog_post_update_url' post.id %}" method="post">
				<input type="hidden" id="postId" value="{{ post.id }}"/>
		{% else %}
			<h2>Create New Post</h2>
			<form name="post" action="{% url 'blog_post_create_url' %}" method="post">
		{% endif %}
			{% csrf_token %}
			<ul>
				<li>
					<input type="text" name="title" class="required defaultInput" value="{{ post.title }}" placeholder="Title of post"/>
				</li>
				<li>
					<ul class="postHelpers">
						<li class="img"><a href="#">img</a></li>
						<li class="href"><a href="#">href</a></li>
					</ul>
					<textarea name="message" class="required">{{ post.message|safe }}</textarea>
				</li>
				<li>
					<input type="text" name="tags" class="required defaultInput" placeholder="Tags" value="{{ post.tags.all|join:', ' }}"/>
				</li>
				<li>
					{% if post.id %}
						<button class="primary">Update this post</button>
						<button class="cancel important" id="delete">Delete this post</button>
					{% else %}
						<button class="primary">Create new post</button>
					{% endif %}
				</li>
			</ul>
		</form>

		<div id="preview">
			<article>
				<header>
					<h2></h2>
					<time>{% now "j M, Y" %}</time>
					<span>0 Comments</span>
				</header>
				<p></p>
				<footer>

				</footer>
			</article>
		</div>
	</div>
{% endblock %}
