{% load post_helpers %}
{% load helper_tags %}
{% load twitter_tags %}

<!DOCTYPE HTML>
<html>
<head>
{#	<title>{% title request.path %} - [deanproxy] packaged me.</title>#}
    {% js 'jquery-1.6.2.min.js' %}
	{% js 'jquery.validate.min.js' %}
	{% js 'jquery-ui-1.8.16.custom.min.js' %}
	{% js 'jquery.lightbox_me.js' %}
	{% js 'jquery.cookie.js' %}
	{% js 'main.js' %}

	<link href='http://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css'>
	{% css 'main.css' %}

	{% block head_extras %} {% endblock %}

	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-5438833-5']);
		_gaq.push(['_setDomainName', '.deanproxy.com']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
<script type="text/javascript">var a=new Date,b=a.getUTCHours();if(0==a.getUTCMonth()&&2012==a.getUTCFullYear()&&((18==a.getUTCDate()&&13<=b)||(19==a.getUTCDate()&&0>=b)))window.location="http://sopastrike.com/strike";</script>
</head>
<body>
	<div id="msie">
		<img src="/static/images/zap.jpg"/>
		<h3>Your browser is unsupported and squishy.</h3>
		<p>
			Captains log; This site was designed for the future of science! If you can't update your browser,
			this site just won't function or look right. However, feel free to browse it anyway.  Where's Kif?
		</p>
		<p><button id="ok" class="primary">Ok, Whatever</button></p>
	</div>
	<div id="header">
		<nav>
			<ul>
				<li>
					<a href="/">
						<span>dean</span>proxy
					</a>
				</li>
				<li><a href="{% url code_url %}">Code</a></li>
				<li><a href="{% url music_url %}">Music</a></li>
				<li><a href="{% url about_url %}">About</a></li>
				<li><a href="{% url contact_url %}">Contact</a></li>
				<li class="search">
					<form action="{% url blog_search_url %}" name="search" method="get">
						<input type="text" name="query" value="Search"/>
					</form>
				</li>
			</ul>
		</nav>
	</div>

	<div id="content">
		<div id="posts">
			{% block content %} {% endblock %}
		</div>
		<div id="sidebar">
			<div class="sidebarWidget twitter">
				<h2>
					<a href="http://twitter.com/#!/deanproxy">@deanproxy <img src="/static/images/twitterIcon.jpg"/></a>
				</h2>
				{% twitter 'deanproxy' %}
			</div>
			<div class="sidebarWidget latest">
				<h2>Latest</h2>
				{% latest_posts %}
			</div>
		</div>
	</div>

	<div id="footer">
		<div class="copyright">
			&copy; 2011 - Dean Jones -
			boring design by me with inspiration from all over the net
		</div>
	</div>

	{% if request.session.logged_in %}
		<div id="admin">
			<ul>
				<li><a href="{% url blog_post_new_url %}">Create Post</a></li>
				{% if post.id %}
					<li><a href="{% url blog_post_edit_url post.id %}">Edit This Post</a></li>
				{% endif %}
				<li><a href="{% url auth_reset_password_url %}">Reset Password</a></li>
				<li><a href="/admin/logout/">Logout</a></li>
			</ul>
		</div>
	{% endif %}
</body>
</html>
