{% load post_helpers %}

<!DOCTYPE HTML>
<html>
<head>
	<title>{% title request.path %} - [deanproxy] packaged me.</title>
    {% js 'jquery-1.6.2.min.js' %}
	{% js 'jquery.validate.min.js' %}
	{% js 'jquery-ui-1.8.16.custom.min.js' %}
	{% js 'jquery.lightbox_me.js' %}
	{% js 'jquery.cookie.js' %}
	{% js 'main.js' %}

	<link href='http://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css'>
	{% css 'main.css' %}

	{% block head_extras %} {% endblock %}
</head>
<body>
	<div id="msie">
		<img src="/static/images/zap.jpg"/>
		<h3>Your browser is unsupported and squishy.</h3>
		<p>
			This site was designed to work with modern web browsers. It is mostly HTML5 and CSS3.
			While you can attempt to use this site with older browsers, I am 100% positive it will
			not look right or even function. Especially in Internet Explorer before version 9.
		</p>
		<p><button id="ok" class="primary">Ok, Whatever</button></p>
	</div>
	<div id="header">
		<nav>
			<ul>
				<li>
					<a href="/">
						<span>dean</span>proxy
					</a>
				</li>
				<li><a href="{% url code_url %}">Code</a></li>
				<li><a href="{% url music_url %}">Music</a></li>
				<li><a href="{% url about_url %}">About</a></li>
				<li><a href="{% url contact_url %}">Contact</a></li>
				<li class="search">
					<form action="{% url blog_search_url %}" name="search" method="get">
						<input type="text" name="query" value="Search"/>
					</form>
				</li>
			</ul>
		</nav>
	</div>

	<div id="content">
		<div id="posts">
			{% block content %} {% endblock %}
		</div>
		<div id="sidebar">
			<div class="sidebarWidget twitter">
				<h2>
					<a href="http://twitter.com/#!/deanproxy">@deanproxy <img src="/static/images/twitterIcon.jpg"/></a>
				</h2>
				{% twitter 'deanproxy' %}
			</div>
			<div class="sidebarWidget latest">
				<h2>Latest</h2>
				{% latest_posts %}
			</div>
		</div>
	</div>

	<div id="footer">
		<div class="copyright">
			&copy; 2011 - Dean Jones -
			boring design by me with inspiration from all over the net
		</div>
	</div>

	{% if request.session.logged_in %}
		<div id="admin">
			<ul>
				<li><a href="{% url blog_post_new_url %}">Create Post</a></li>
				{% if post.id %}
					<li><a href="{% url blog_post_edit_url post.id %}">Edit This Post</a></li>
				{% endif %}
				<li><a href="{% url auth_reset_password_url %}">Reset Password</a></li>
				<li><a href="/admin/logout/">Logout</a></li>
			</ul>
		</div>
	{% endif %}
</body>
</html>
