@include url('/static/css/prettify.css');
.prettyprint {
	background-color: #111;
	color: #eee;
	padding: 5px;
	max-height: 300px;
	overflow: auto;
}
.kwd {
	color: rgb(226,137,100);
}
.typ {
	color: #eee;
}
.str {
	color: rgb(101,176,66);
}
.lit {
	color: rgb(51,135,204);
}
.com {
	color: #999;
	font-style: italic;
}

#comments .prettyprint {
	background-color: inherit;
	color: inherit;
	border: 1px dashed #999;
}
#comments .kwd {
	color: #008;
}
#comments .typ {
	color: #606;
}
#comments .str {
	color: #080;
}
#comments .lit {
	color: #066;
}
#comments .com {
	color: #600;
}
}
