{% extends '_layouts/main.html' %}
{% load helper_tags %}
{% block head_extras %}
	{% css 'contact.css' %}
{% endblock %}

{% block content %}
	<h2>Message sent</h2>
	<p>Thanks!  I try to respond to all e-mails.</p>
	<p>
		If you are trying to contact me about a bug or code specific to projects on
		<a href="http://github.com/deanproxy">GitHub</a>, then it may be a good idea
		to submit an issue under whatever project you have an issue with.
	</p>
	<p>
		Also, you can always try to contact me on <a href="http://twitter.com/#!/deanproxy">Twitter</a>.
	</p>
	<p>
		Love,
		<quote>Dean</quote>
	</p>
{% endblock %}