<!doctype html>
<html>
<head>
	<title>mysteriously disappearing pages - [deanproxy]</title>
	<link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
</head>
<body>
	<div class="hoverbox errors">
		<img src="/static/images/404.jpg"/>
		<h2>Good news everyone! This page is missing.</h2>
		<p>
			Pages on this site are known to run and hide. This must be one of those pages.
			Go back and see if it works again. Seriously, keep clicking on that link. I bet
			at some point it will appear if you spend enough time doing it.
		</p>
	</div>
</body>
</html>