<!doctype html>
<html>
<head>
	<title>some junk went all wrong - [deanproxy]</title>
	<link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
</head>
<body>
	<div class="hoverbox errors">
		<img src="/static/images/500.jpg"/>
		<h1>ouch!</h1>
		<p>
			Something went wrong. The site took a jump off of a cliff. There was carnage.
			It was probably your fault, but I'll look into it anyway.  Try hitting your
			browsers back button to get back to where you were.
		</p>
	</div>
</body>
</html>